@import '~bootstrap/scss/bootstrap';
$background-color: #918cde;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: center;
  //width: 50%;
  //height: 50%;
  //padding-bottom: 100%;

  //height: 80px;
  //width: 80px;
  justify-content: center;
}

.grey {
  background-color: lavender;
}

.teal {
  background-color: $teal;
}

.container {
  //margin: 40;
  margin-left: 20%;
  position: absolute;
}

.padding1 {
  padding-bottom: 25%;
  padding-top: 25%;
  //text-align: center;
  //font-size: 50%;
}

p {
  font-size: 40px;
}

form {
  //border-left: 4px;
  //padding: 4px;
  margin: 4px;
  //margin-left: 80px;
  //left: 10%;
}
